// SECTION APPLICATION :: START

section#application.application
  .application__wrapper

    .application__bg
      span
      span
      span

    .c-grid

      .application__row
        .application__row-left

          .application__mobile
            h2.application__title!= "Aplikacja Pedalbox"
            p.application__subtitle!= "Dostępna tylko dla Pedalbox+"

          img(src="./img/img-phone-application.png" srcset="./img/img-phone-application@2x.png 2x" alt="" title="")

        .application__row-right
          h2.application__title!= "Aplikacja Pedalbox"
          p.application__subtitle!= "Dostępna tylko dla Pedalbox+"

          .application__block
            .product__box-footer
              ul
                li
                  div
                    img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                  div
                    h3!= "Kontrola Pedalbox przez appkę"
                    p!= "Programy Sport, Sport Plus oraz City."
                    span!= "Dodatkowo czwarty program to program seryjny."
                li
                  div
                    img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                  div
                    h3!= "Możliwość dopasowania programu"
                    p!= "Programy Sport, Sport Plus oraz City."
                    span!= "Dodatkowo czwarty program to program seryjny."
                li
                  div
                    img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                  div
                    h3!= "Zawsze aktualne oprogramowanie"
                    p!= "Programy Sport, Sport Plus oraz City."
                    span!= "Dodatkowo czwarty program to program seryjny."
                li
                  div
                    img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                  div
                    h3!= "Ponad 20 ustawień"
                    p!= "Programy Sport, Sport Plus oraz City."
                    span!= "Dodatkowo czwarty program to program seryjny."

      if(contentClassName === 'p-powercontrol')
        .application__btn-wrapper
          a.application__btn.application__btn--ios(href="#" class="" title="")
            img(src="/img/img-ios.png" srcset="/img/img-ios@2x.png 2x" alt="" title="")
          a.application__btn.application__btn--android(href="#" class="" title="")
            img(src="/img/img-android.png" srcset="/img/img-android@2x.png 2x" alt="" title="")


// SECTION APPLICATION :: END