// SECTION DETAILS :: START

section#details.details
  .details__row.details__row-0
    .c-grid
      .details__wrapper.details__wrapper-0
        .details__wrapper-left
          img(src="./img/img-details-0.jpg" srcset="./img/img-details-0@2x.jpg 2x" alt="" title="")

        .details__wrapper-right
          h2.details__title!= "Dla Twojego samochodu"

          p.details__text!= "PedalBox pasuje do każdego samochodu z elektronicznym pedałem gazu (czyli większość pojazdów wyprodukowanych po 2000 roku), choć nie jest produktem w pełni uniwersalnym."
          p.details__text!= "W zależności od posiadanego samochodu potrzebny jest inny PedalBox (inne ustawienia oraz okablowanie), dlatego sprawdź, czy mamy produkt dla Twojego pojazdu <span>wypełniając pola poniżej!</span>"

          .details__select
            form.c-form(action='' method='')
              .c-form__group.c-form__group--select
                .c-form__group-col.c-form__group-col-0
                  .c-form__field.c-form__field--select
                    .c-form__select-wrap
                      select(name="" select-js)
                        option(value="1")!= "Pokażemy Ci co możemy z nim zrobić!"
                        option(value="1")!= "Marka"
                        option(value="1")!= "Marka"
                        option(value="1")!= "Marka"
                        option(value="1")!= "Marka"

                .c-form__group-col.c-form__group-col-1
                  .c-form__field.c-form__field--select
                    .c-form__select-wrap
                      select(name="" select-js)
                        option(value="1")!= "Pokażemy Ci co możemy z nim zrobić!"
                        option(value="1")!= "Model"
                        option(value="1")!= "Model"
                        option(value="1")!= "Model"
                        option(value="1")!= "Model"

                .c-form__group-col.c-form__group-col-2
                  .c-form__field.c-form__field--select
                    .c-form__select-wrap
                      select(name="" select-js)
                        option(value="1")!= "Pokażemy Ci co możemy z nim zrobić!"
                        option(value="1")!= "Silnik"
                        option(value="1")!= "Silnik"
                        option(value="1")!= "Silnik"
                        option(value="1")!= "Silnik"

  .details__row.details__row-1
    .c-grid
      .details__wrapper.details__wrapper-1
        .details__wrapper-left
          h2.details__title!= "Gwarantujemy satysfakcję"

          p.details__text!= "Nasz program <span>Gwarancji Satysfakcji</span> składa się z trzech elementów:"

          ul.details__list
            -
              var detailsListNumArr = [
                {
                  num: '1',
                  title: '14 dni na przetestowanie PedalBox',
                  text: 'Kupując PedalBox otrzymujesz od nas aż 14 dni na sprawdzenie, czy urządzenie spełnia Twoje oczekiwania.'
                },
                {
                  num: '2',
                  title: 'Nie tracisz gwarancji',
                  text: 'Instalacja PedalBoxa nie wpływa w żaden sposób na fabryczną gwarancję pojazdu. Nie ingerujemy również w żadne ustawienia samochodu.'
                },
                {
                  num: '3',
                  title: 'Pomoc',
                  text: 'Zarówno przed, jak i po zakupie jesteśmy dla Ciebie dostępni przez cały tydzień. Pomożemy w każdej kwestii, wyjaśnimy każde zagadnienie. Najbardziej cenimy sobie zadowolenie naszych klientów.'
                }
              ];

            each val, idx in detailsListNumArr
              li.details__item
                .details__item-left
                  span.details__item-num!= detailsListNumArr[idx].num
                .details__item-right
                  p.details__item-title!= detailsListNumArr[idx].title
                  p.details__item-text!= detailsListNumArr[idx].text

        .details__wrapper-right
          img(src="./img/img-details-1.jpg" srcset="./img/img-details-1@2x.jpg 2x" alt="" title="")

  .details__row.details__row-2
    .c-grid
      .details__wrapper.details__wrapper-2
        .details__wrapper-left
          img(src="./img/img-details-2.jpg" srcset="./img/img-details-2@2x.jpg 2x" alt="" title="")

        .details__wrapper-right
          h2.details__title!= "A co znajdę w zestawie?"

          p.details__text!= "W zestawie otrzymujesz:"

          ul.details__list
            -
              var detailsListArr = [
                'Urządzenie PedalBox',
                'Okablowanie zgodne ze wszystkimi normami producentów',
                'Instrukcję instalacji w pojeździe',
                'Uchwyt do deski rozdzielczej',
                'Ściereczki do wyczyszczenia deski rozdzielczej',
                'Rzepy do przyklejenia PedalBoxa lub jego uchwytu',
                '2 letnią gwarancję na PedalBo'
              ];

            each val, idx in detailsListArr
              li.details__item
                .details__item-left
                  span!= ""
                .details__item-right
                  p.details__item-text!= val

          a.details__btn(href="#" class="" title="")
            div
              span
                i.icon-font.icon-play
            div
              span!= "Zobacz unboxing Pedalbox"

// SECTION DETAILS :: END