// SECTION INSTALLATION :: START

section#installation.installation
  .installation__wrapper.installation__wrapper-0

    .installation__bg
      span
      span
      span

    .c-grid
      .installation__row
        h2.installation__title!= "Szybka i prosta instalacja"

        .installation__col
          .installation__col-left
            img(src="./img/img-Installation.jpg" srcset="./img/img-Installation@2x.jpg 2x" alt="" title="")

          .installation__col-right
            ul.installation__list
              li.installation__item
                .installation__item-left
                  span.installation__item-num!= "1"
                .installation__item-right
                  p.installation__item-text!= "Odłącz kostkę pedału gazu. Dostęp do niej w każdym samochodzie jest bardzo łatwy, bo znajduje się ona tuż przy samym pedale."

              li.installation__item
                .installation__item-left
                  span.installation__item-num!= "2"
                .installation__item-right
                  p.installation__item-text!= "Pomiędzy pedał gazu a kostkę pedału wepnij odpowiednie złącza PedalBoxa. Upewnij się, że kostki zatrzasnęły się poprawnie."

              li.installation__item
                .installation__item-left
                  span.installation__item-num!= "3"
                .installation__item-right
                  p.installation__item-text!= "Twój PedalBox jest gotowy do pracy! Wystarczy włączyć pojazd i na początek wybrać tryb Sport na PedalBoxie."

  .installation__wrapper.installation__wrapper-1
    .c-grid

      .installation__video
        .installation__video-wrapper
          p!= "Zobacz video z montażem krok po kroku"
          a(href="#" class="" title="")
            i.icon-font.icon-play

// SECTION INSTALLATION :: END