// SECTION ITEM :: START

section#item.item
  .c-grid
    .item__wrapper

      h2.item__title!= "Dwie wersje produktu"

      .item__row.item__row-0
        .item__row-left

          .item__mobile
            p.item__subtitle!= "Pedalbox"

          img(src="./img/img-item-0.png" srcset="./img/img-item-0@2x.png 2x" alt="" title="")

        .item__row-right
          p.item__subtitle!= "Pedalbox"

          .item__block
            .product__box-footer
              ul
                li
                  div
                    img(src="./img/img-item-2.png" srcset="./img/img-item-2@2x.png 2x" alt="" title="")
                  div
                    h3!= "Bez utraty gwarancji"
                    p!= "Programy Sport, Sport Plus oraz City."
                    span!= "Dodatkowo czwarty program to program seryjny."
                li
                  div
                    img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                  div
                    h3!= "4 programy do wyboru"
                    p!= "Programy Sport, Sport Plus oraz City."
                    span!= "Dodatkowo czwarty program to program seryjny."
                li.item__block--wm
                  div
                    img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                  div
                    h3!= "Ponad 20 ustawień"
                    p!= "Programy Sport, Sport Plus oraz City."
                    span!= "Dodatkowo czwarty program to program seryjny."
                li.item__block--wm
                  div
                    img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                  div
                    h3!= "Funkcja pamięci"
                    p!= "Programy Sport, Sport Plus oraz City."
                    span!= "Dodatkowo czwarty program to program seryjny."

      .item__row.item__row-1
        .item__row-left

          .item__mobile
            p.item__subtitle!= "Pedalbox<span>+</span>"

          img(src="./img/img-item-1.png" srcset="./img/img-item-1@2x.png 2x" alt="" title="")

        .item__row-right
          p.item__subtitle!= "Pedalbox<span>+</span>"

          .item__block
            .product__box-footer
              ul
                li
                  div
                    img(src="./img/img-item-2.png" srcset="./img/img-item-2@2x.png 2x" alt="" title="")
                  div
                    h3!= "Bez utraty gwarancji"
                    p!= "Programy Sport, Sport Plus oraz City."
                    span!= "Dodatkowo czwarty program to program seryjny."
                li
                  div
                    img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                  div
                    h3!= "4 programy do wyboru"
                    p!= "Programy Sport, Sport Plus oraz City."
                    span!= "Dodatkowo czwarty program to program seryjny."
                li
                  div
                    img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                  div
                    h3!= "Ponad 20 ustawień"
                    p!= "Programy Sport, Sport Plus oraz City."
                    span!= "Dodatkowo czwarty program to program seryjny."
                li
                  div
                    img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                  div
                    h3!= "Funkcja pamięci"
                    p!= "Programy Sport, Sport Plus oraz City."
                    span!= "Dodatkowo czwarty program to program seryjny."
                li.item__block--plus
                  div
                    img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                  div
                    h3!= "PerfecTune"
                    p!= "Programy Sport, Sport Plus oraz City."
                    span!= "Dodatkowo czwarty program to program seryjny."
                li.item__block--plus
                  div
                    img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                  div
                    h3!= "Nowy wygląd"
                    p!= "Programy Sport, Sport Plus oraz City."
                    span!= "Dodatkowo czwarty program to program seryjny."
                li.item__block--wm.item__block--plus
                  div
                    img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                  div
                    h3!= "Większa precyzja"
                    p!= "Programy Sport, Sport Plus oraz City."
                    span!= "Dodatkowo czwarty program to program seryjny."

// SECTION ITEM :: END