// REDUCED :: START

section#reduced.reduced
  .reduced__wrapper.reduced__wrapper-0
    .c-grid
      .reduced__row.reduced__row-0
        .reduced__row-left
          img(src="./img/img-item-reduced.png" srcset="./img/img-item-reduced@2x.png 2x" alt="" title="")
        .reduced__row-right
          h2.reduced__title!= "Zmniejszone zużycie paliwa"
          p.reduced__text!= "<span>Dlaczego urządzenie powodujące szybsze przyspieszanie zmniejsza zużycie paliwa?</span> Ponieważ z podstawowych zasad Eco Drivingu wynika właśnie, że im szybciej osiągniemy zadaną prędkość, tym silnik zużyje mniej paliwa. Stąd PedalBox, który zwiększa i przyspiesza reakcję pedału gazu, powoduje rzadszą potrzebę zajeżdżania pod dystrybutor."


  .reduced__wrapper.reduced__wrapper-1
    .reduced__wrapper-bg
      span
      span
      span

    .c-grid
      .reduced__row.reduced__row-1
        .reduced__row-left
          h2.reduced__subtitle!= "Sprawdź ofertę dla Twojego samochodu:"

        .reduced__row-right
          form.c-form(action='' method='')
            .c-form__group.c-form__group--select
              .c-form__group-col.c-form__group-col-0
                .c-form__field.c-form__field--select
                  .c-form__select-wrap
                    select(name="" select-js)
                      option(value="1")!= "Pokażemy Ci co możemy z nim zrobić!"
                      option(value="1")!= "Marka"
                      option(value="1")!= "Marka"
                      option(value="1")!= "Marka"
                      option(value="1")!= "Marka"

              .c-form__group-col.c-form__group-col-1
                .c-form__field.c-form__field--select
                  .c-form__select-wrap
                    select(name="" select-js)
                      option(value="1")!= "Pokażemy Ci co możemy z nim zrobić!"
                      option(value="1")!= "Model"
                      option(value="1")!= "Model"
                      option(value="1")!= "Model"
                      option(value="1")!= "Model"

              .c-form__group-col.c-form__group-col-2
                .c-form__field.c-form__field--select
                  .c-form__select-wrap
                    select(name="" select-js)
                      option(value="1")!= "Pokażemy Ci co możemy z nim zrobić!"
                      option(value="1")!= "Silnik"
                      option(value="1")!= "Silnik"
                      option(value="1")!= "Silnik"
                      option(value="1")!= "Silnik"

// REDUCED :: END