// SECTION powercontrol :: START

section.section#powercontrol.powercontrol

  //.section__bg.section__bg--dark

  .c-grid
    .powercontrol__wrapper

      .powercontrol__row.powercontrol__row-0
        .powercontrol__row-left
          img(src="./img/img-powercontrol.png" srcset="./img/img-powercontrol@2x.png 2x" alt="" title="")

        .powercontrol__row-right
          h1.powercontrol__title!= "PowerControl"

          p.powercontrol__text!= "Najlepszy na rynku moduł tuningowy"

          .powercontrol__block-wrapper
            .powercontrol__block.powercontrol__block-0
              img(src="./img/img-powercontrol-ind-0.png" srcset="./img/img-powercontrol-ind-0@2x.png 2x" alt="" title="")
              p!= "+30%"

            .powercontrol__block.powercontrol__block-1
              img(src="./img/img-powercontrol-ind-1.png" srcset="./img/img-powercontrol-ind-1@2x.png 2x" alt="" title="")
              p!= "+30%"

            .powercontrol__block.powercontrol__block-2
              img(src="./img/img-powercontrol-ind-2.png" srcset="./img/img-powercontrol-ind-2@2x.png 2x" alt="" title="")
              p!= "-15%"

          p.powercontrol__text.powercontrol__text--pb!= "Zapewnia wzrost mocy i momentu aż do 30%, a ponadto obniża spalanie samochodu do 1l na 100km."
          p.powercontrol__text!= "Pokochaj swój samochód – na nowo – dzięki chiptuningowi nowej generacji od firmy DTE Systems. <span>Made in Germany.</span>"

      .powercontrol__row.powercontrol__row-1
        a.powercontrol__btn.c-btn(href="#" class="" title="")!= "Poznaj PowerControl"

// SECTION powercontrol :: END