// SECTION save :: START

section#save.save
  .c-grid

    h2.save__title!= "Zaoszczędź do <span>10 000</span> PLN kupując <span>PowerControl</span>"

    .save__wrapper

      mixin swiperSaveContent()
        .swiper-slide
          .swiper-slide-left
            .save__block.save__block-0
              .save__block-head
                p!= "PowerControl"
              .save__block-body
                .save__block-left
                  p!= "Audi A7 7.0"
                .save__block-right
                  .save__block-line.save__block-line--0
                    span!= "Moc seryjna 250KM"
                    div
                      span!= "+40KM"
                  .save__block-line.save__block-line--1
                    span!= "Moment seryjny 440Nm"
                    div
                      span!= "+80Nm"

            .save__block.save__block-1
              .save__block-head
              .save__block-body
                .save__block-left
                  p!= "Audi A7 7.2"
                .save__block-right
                  .save__block-line.save__block-line--0
                    span!= "Moc seryjna 270KM"
                  .save__block-line.save__block-line--1
                    span!= "Moment seryjny 460Nm"

          .swiper-slide-right
            .swiper-slide-car
              img(src="./img/img-save-car.png" srcset="./img/img-save-car@2x.png 2x" alt="" title="")

        .swiper-slide
          .swiper-slide-left
            .save__block.save__block-0
              .save__block-head
                p!= "PowerControl"
              .save__block-body
                .save__block-left
                  p!= "Audi A7 7.0"
                .save__block-right
                  .save__block-line.save__block-line--0
                    span!= "Moc seryjna 250KM"
                    div
                      span!= "+40KM"
                  .save__block-line.save__block-line--1
                    span!= "Moment seryjny 440Nm"
                    div
                      span!= "+80Nm"

            .save__block.save__block-1
              .save__block-head
              .save__block-body
                .save__block-left
                  p!= "Audi A7 7.2"
                .save__block-right
                  .save__block-line.save__block-line--0
                    span!= "Moc seryjna 270KM"
                  .save__block-line.save__block-line--1
                    span!= "Moment seryjny 460Nm"

          .swiper-slide-right
            .swiper-slide-car
              img(src="./img/img-save-car.png" srcset="./img/img-save-car@2x.png 2x" alt="" title="")

        .swiper-slide
          .swiper-slide-left
            .save__block.save__block-0
              .save__block-head
                p!= "PowerControl"
              .save__block-body
                .save__block-left
                  p!= "Audi A7 7.0"
                .save__block-right
                  .save__block-line.save__block-line--0
                    span!= "Moc seryjna 250KM"
                    div
                      span!= "+40KM"
                  .save__block-line.save__block-line--1
                    span!= "Moment seryjny 440Nm"
                    div
                      span!= "+80Nm"

            .save__block.save__block-1
              .save__block-head
              .save__block-body
                .save__block-left
                  p!= "Audi A7 7.2"
                .save__block-right
                  .save__block-line.save__block-line--0
                    span!= "Moc seryjna 270KM"
                  .save__block-line.save__block-line--1
                    span!= "Moment seryjny 460Nm"

          .swiper-slide-right
            .swiper-slide-car
              img(src="./img/img-save-car.png" srcset="./img/img-save-car@2x.png 2x" alt="" title="")


      +swiper('swiper-container--save', 'swiperSaveContent', false, true, false)

// SECTION save :: END