// SECTION types :: START

section#types.types

  .types__wrapper.types__wrapper-0

    .types__bg
      span
      span
      span

    .c-grid

      h1.types__title!= "Rodzaje programów"

      .types__box-wrapper
        .types__box.types__box-0
          img(src="./img/img-types-0.png" srcset="./img/img-types-0@2x.png 2x" alt="" title="")

          p.types__box-title!= "Sport"
          p.types__box-desc!= "(zmienia kolor diody na kolor czerwony)"
          p.types__box-text!= "Najmocniejszy tryb pracy – tuning w pełnej okazałości. Idealny jeśli chcesz poczuć całą moc drzemiącą w Twoim samochodzie."

        .types__box.types__box-1
          img(src="./img/img-types-1.png" srcset="./img/img-types-1@2x.png 2x" alt="" title="")

          p.types__box-title!= "Dynamic"
          p.types__box-desc!= "(zmienia kolor diody na kolor żółty)"
          p.types__box-text!= "Jest to idealny tryb do codziennej jazdy, kiedy potrzebujemy większej dynamiki, ale nadal dbamy o ekonomię jazdy."

        .types__box.types__box-2
          img(src="./img/img-types-2.png" srcset="./img/img-types-2@2x.png 2x" alt="" title="")

          p.types__box-title!= "Eco"
          p.types__box-desc!= "(zmienia kolor diody na kolor zielony)"
          p.types__box-text!= "Najlepszy tryb do typowej jazdy miejskiej od świateł do świateł. Charakteryzuje się przede wszystkim oszczędnością paliwa."

      .types__col
        .working__block.working__block-0
          .working__block-left
            span!= "+"

          .working__block-middle
            p!= "Użyj symbolu plusa, żeby zwiększyć czułość modułu"
            span!= "3 stopnie zwiększonej czułości, wyświetlane na czerwono"

        .working__block.working__block-1
          .working__block-left
            span!= "-"

          .working__block-middle
            p!= "Użyj symbolu minusa, żeby zmniejszyć czułość modułu"
            span!= "3 stopnie zmniejszonej czułości, wyświetlane na zielono"

  .types__wrapper.types__wrapper-1
    .c-grid

      .types__video
        .types__video-wrapper
          p!= "Zobacz video z montażem krok po kroku"
          a(href="#" class="" title="")
            i.icon-font.icon-play

// SECTION types :: END