// INFO :: START

section#info.info
  .c-grid
    .info__wrapper
      .info__box-wrapper
        .info__box.info__box-0
          .info__box-title
            p!= "Felgi"
            span!= ""
          .info__box-img
            img(src="./img/img-box-info.png" srcset="./img/img-box-info@2x.png 2x" alt="" title="")
            img(src="./img/img-box-hover-info.png" srcset="./img/img-box-hover-info@2x.png 2x" alt="" title="")

        .info__box.info__box-1
          .info__box-title
            p!= "Układ wydechowy"
            span!= ""
          .info__box-img
            img(src="./img/img-box-info.png" srcset="./img/img-box-info@2x.png 2x" alt="" title="")
            img(src="./img/img-box-hover-info.png" srcset="./img/img-box-hover-info@2x.png 2x" alt="" title="")

        .info__box.info__box-2
          .info__box-title
            p!= "Podręcenie mocy"
            span!= "w samochodach na gwarancji"
          .info__box-img
            img(src="./img/img-box-info.png" srcset="./img/img-box-info@2x.png 2x" alt="" title="")
            img(src="./img/img-box-hover-info.png" srcset="./img/img-box-hover-info@2x.png 2x" alt="" title="")


// INFO :: END