//- MODAL
//- ========================

    @param {String} classMod
    @param {Object Array} arrData - value: [href, name, icon]

    @example
      +nav('header', arr)
      +navIconFont('header', arr)
      +navIconPNG('header', arr)

//- ========================
mixin nav(classMod, arrData)
  nav.nav(class!= "nav--" + classMod)
    ul.nav__list
      each val, idx in arrData
        li.nav__item(class!= "nav__item-" + idx)
          a.nav__link(
            href!= arrData[idx].href
            title=""
            class!= "nav__link-" + idx
          )!= arrData[idx].name
        if(idx !== arrData.length - 1)
          li.nav__item-empty
            span!= "&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;"

mixin navIconFont(classMod, arrData)
  nav.nav(class!= "nav--" + classMod)
    ul.nav__list
      each val, idx in arrData
        li.nav__item(class!= "nav__item-" + idx + " nav__item-" + arrData[idx].icon)
          a.nav__link(
            href!= arrData[idx].href
            title=""
            class!= (idx === 0) ? "is-active nav__link-" + idx: "nav__link-" + idx
          )
            .nav__link-icon
              i.icon-font(class!= "icon-" + arrData[idx].icon)
            span.nav__link-text!= arrData[idx].name

mixin navIconPNG(classMod, arrData)
  nav.nav(class!= "nav--" + classMod)
    ul.nav__list
      each val, idx in arrData
        li.nav__item(class!= "nav__item-" + idx + " nav__item-" + arrData[idx].icon)
          a.nav__link(
            href!= arrData[idx].href
            title=""
            class!= (idx === 0) ? "is-active nav__link-" + idx: "nav__link-" + idx
            navdrop-js!= (idx === 2) ? 'navdrop-js':''
          )
            .nav__link-icon
              i.icon-png(class!= arrData[idx].icon)
            span.nav__link-text!= arrData[idx].name

          if(idx === 2)
            .nav__link-dropdown
              ul
                li
                  a(href="#" class="" title="" navsubdrop-js)!= "Marki"
                  .nav__link-subdropdown
                    ul
                      li
                        a(href="#" class="" title="")!= "Magnaflow"
                      li
                        a(href="#" class="" title="")!= "Magnaflow"
                li
                  a(href="#" class="" title="")!= "Marki"
                li
                  a(href="#" class="" title="" navsubdrop-js)!= "Marki"
                  .nav__link-subdropdown
                    ul
                      li
                        a(href="#" class="" title="")!= "Magnaflow"
                      li
                        a(href="#" class="" title="")!= "Magnaflow"
