// BASE :: START

section#base.base
  .base__bg

  .c-grid
    .base__wrapper
      .base__row.base__row-0
        .base__pagination
          a.base__pagination-btn(href="#" class="" title="")!= "← Wróć do strony głównej"
          a.base__pagination-btn(href="#" class="" title="")!= "Zmień wybór"

      .base__row.base__row-1
        .base__title
          .base__title-left
            p!= "Porsche Panamera 4S E-Hybrid 432KM"
            hr
          .base__title-right
            img(src="./img/img-base-title.png" srcset="./img/img-base-title@2x.png 2x" alt="" title="")


      .base__row.base__row-2
        .base__box
          .base__box-head
            div
              p!= "Wybierz wersję produktu:"
            div
              div
                a(href="#" class="" title="")!= "PowerControl"
                a(href="#" class="" title="")!= "PowerControl X"

              p
                i.icon-png.product-head
                != "Bez utraty gwarancji"

          .base__box-body
            div
              img(src="./img/img-base-main.png" srcset="./img/img-base-main@2x.png 2x" alt="" title="")
            div
              .base__table
                table
                  thead
                    tr
                      th!= ""
                      th!= "Dane seryjne"
                      th!= "Dane po tuningu"
                      th!= "Przyrost"
                  tbody
                    tr
                      td
                        img(src="./img/img-base-table-0.png" srcset="./img/img-base-table-0@2x.png 2x" alt="" title="")
                        != "Moc silnika"
                      td!= "106 KM"
                      td!= "136 KM"
                      td.orange!= "+31 KM"
                    tr
                      td
                        img(src="./img/img-base-table-1.png" srcset="./img/img-base-table-1@2x.png 2x" alt="" title="")
                        != "Moment obrotowy"
                      td!= "255 KM"
                      td!= "290 KM"
                      td.red!= "+35 Nm"

              hr
              div
                a(href="#" class="" title="")!= "Kliknij, aby dowiedzieć się więcej"
                a(href="#" class="" title="")!= "Przyrost na podstawie badań EWG 80/1269"

          .base__box-footer
            p!= "Każdy zestaw PowerControl jest programowany, konfigurowany oraz kompletowany specjalnie pod Twoje zamówienie oraz dla Twojego modelu samochodu i silnika. Nie jest to produkt uniwersalny, dlatego koniecznie sprawdź, czy opracowaliśmy  wersję dla Twojego pojazdu! <a href='#'>Czytaj więcej...</a>"

      .base__row.base__row-3
        .base__list
          ul
            li
              div
                img(src="./img/img-base-list.png" srcset="./img/img-base-list@2x.png 2x" alt="" title="")
                img(src="./img/img-base-list-h.png" srcset="./img/img-base-list-h@2x.png 2x" alt="" title="")
              div
                p!= "Nie tracisz gwarancji"
                span!= "modyfikacje bez utraty gwarancji"
            li
              i
            li
              div
                img(src="./img/img-base-list.png" srcset="./img/img-base-list@2x.png 2x" alt="" title="")
                img(src="./img/img-base-list-h.png" srcset="./img/img-base-list-h@2x.png 2x" alt="" title="")
              div
                p!= "Nie tracisz gwarancji"
                span!= "modyfikacje bez utraty gwarancji"
            li
              i
            li
              div
                img(src="./img/img-base-list.png" srcset="./img/img-base-list@2x.png 2x" alt="" title="")
                img(src="./img/img-base-list-h.png" srcset="./img/img-base-list-h@2x.png 2x" alt="" title="")
              div
                p!= "Nie tracisz gwarancji"
                span!= "modyfikacje bez utraty gwarancji"
            li
              i
            li
              div
                img(src="./img/img-base-list.png" srcset="./img/img-base-list@2x.png 2x" alt="" title="")
                img(src="./img/img-base-list-h.png" srcset="./img/img-base-list-h@2x.png 2x" alt="" title="")
              div
                p!= "Nie tracisz gwarancji"
                span!= "modyfikacje bez utraty gwarancji"

          ul
            li
              div
                img(src="./img/img-base-list.png" srcset="./img/img-base-list@2x.png 2x" alt="" title="")
                img(src="./img/img-base-list-h.png" srcset="./img/img-base-list-h@2x.png 2x" alt="" title="")
              div
                p!= "Nie tracisz gwarancji"
                span!= "modyfikacje bez utraty gwarancji"
            li
              i
            li
              div
                img(src="./img/img-base-list.png" srcset="./img/img-base-list@2x.png 2x" alt="" title="")
                img(src="./img/img-base-list-h.png" srcset="./img/img-base-list-h@2x.png 2x" alt="" title="")
              div
                p!= "Nie tracisz gwarancji"
                span!= "modyfikacje bez utraty gwarancji"
            li
              i
            li
              div
                img(src="./img/img-base-list.png" srcset="./img/img-base-list@2x.png 2x" alt="" title="")
                img(src="./img/img-base-list-h.png" srcset="./img/img-base-list-h@2x.png 2x" alt="" title="")
              div
                p!= "Nie tracisz gwarancji"
                span!= "modyfikacje bez utraty gwarancji"
            li
              i
            li
              div
                img(src="./img/img-base-list.png" srcset="./img/img-base-list@2x.png 2x" alt="" title="")
                img(src="./img/img-base-list-h.png" srcset="./img/img-base-list-h@2x.png 2x" alt="" title="")
              div
                p!= "Nie tracisz gwarancji"
                span!= "modyfikacje bez utraty gwarancji"

      .base__row.base__row-4
        .base__price
          hr
          div
            p!= "<span>cena brutto</span>2099,-"
          div
            a.base__box-link(href="#" class="" title="")!= "Umów sie na montaż ze strojeniem na hamowni"
            a.base__box-btn(href="#" class="" title="")!= "Kup teraz"

// BASE :: END