// PRODUCT :: START

section#product.product
  .c-grid
    .product__wrapper
      .product__wrapper-left
        .product__box
          .product__box-head
            p!= "PedalBox"
            span
              i.icon-png.product-head
              != "Bez utraty gwarancji"

          .product__box-main
            div
              img(src="./img/img-product-0.png" srcset="./img/img-product-0@2x.png 2x" alt="" title="")
            div
              p.product__box-price!= "749,-"
              p.product__box-desc!= "cena brutto"
              a.product__box-btn(href="#" class="" title="")!= "Kup teraz"

          .product__box-body
            p!= "Każdy zestaw PowerControl jest programowany, konfigurowany oraz kompletowany specjalnie pod Twoje zamówienie oraz dla Twojego modelu samochodu i silnika. Nie jest to produkt uniwersalny, dlatego koniecznie s prawdź, czy opracowaliśmy  wersję dla Twojego pojazdu! <a href='#'>Czytaj więcej...</a>"

          .product__box-footer
            ul
              li
                div
                  img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                div
                  h3!= "4 programy do wyboru"
                  p!= "Programy Sport, Sport Plus oraz City."
                  span!= "Dodatkowo czwarty program to program seryjny."
              li
                div
                  img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                div
                  h3!= "4 programy do wyboru"
                  p!= "Programy Sport, Sport Plus oraz City."
                  span!= "Dodatkowo czwarty program to program seryjny."
              li
                div
                  img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                div
                  h3!= "4 programy do wyboru"
                  p!= "Programy Sport, Sport Plus oraz City."
                  span!= "Dodatkowo czwarty program to program seryjny."
              li
                div
                div
                  a.product__box-link(href="#" class="" title="")!= "Kliknij, aby dowiedzieć się więcej"

      .product__wrapper-right
        .product__box
          .product__box-head
            p!= "PedalBox +"
            span
              i.icon-png.product-head
              != "Bez utraty gwarancji"

          .product__box-main
            div
              img(src="./img/img-product-1.png" srcset="./img/img-product-1@2x.png 2x" alt="" title="")
            div
              p.product__box-price!= "849,-"
              p.product__box-desc!= "cena brutto"
              a.product__box-btn(href="#" class="" title="")!= "Kup teraz"

          .product__box-body
            p!= "Każdy zestaw PowerControl jest programowany, konfigurowany oraz kompletowany specjalnie pod Twoje zamówienie oraz dla Twojego modelu samochodu i silnika. Nie jest to produkt uniwersalny, dlatego koniecznie s prawdź, czy opracowaliśmy  wersję dla Twojego pojazdu! <a href='#'>Czytaj więcej...</a>"

          .product__box-footer
            ul
              li
                div
                  img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                div
                  h3!= "4 programy do wyboru"
                  p!= "Programy Sport, Sport Plus oraz City."
                  span!= "Dodatkowo czwarty program to program seryjny."
              li
                div
                  img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                div
                  h3!= "4 programy do wyboru"
                  p!= "Programy Sport, Sport Plus oraz City."
                  span!= "Dodatkowo czwarty program to program seryjny."
              li
                div
                  img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                div
                  h3!= "4 programy do wyboru"
                  p!= "Programy Sport, Sport Plus oraz City."
                  span!= "Dodatkowo czwarty program to program seryjny."
              li
                div
                  img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                div
                  h3!= "4 programy do wyboru"
                  p!= "Programy Sport, Sport Plus oraz City."
                  span!= "Dodatkowo czwarty program to program seryjny."
              li
                div
                  img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                div
                  h3!= "4 programy do wyboru"
                  p!= "Programy Sport, Sport Plus oraz City."
                  span!= "Dodatkowo czwarty program to program seryjny."
              li
                div
                  img(src="./img/img-product-list.png" srcset="./img/img-product-list@2x.png 2x" alt="" title="")
                div
                  h3!= "4 programy do wyboru"
                  p!= "Programy Sport, Sport Plus oraz City."
                  span!= "Dodatkowo czwarty program to program seryjny."
              li
                div
                div
                  a.product__box-link(href="#" class="" title="")!= "Kliknij, aby dowiedzieć się więcej"

// PRODUCT :: END