// MAIN :: START

section.section#main.main
  .section__bg.section__bg--dark

  .c-grid
    .main__wrapper
      .main__wrapper-left
        h1.main__title!= "Jaki masz samochód?"
        p.main__subtitle!= "Pokażemy Ci co możemy z nim zrobić!"

        form.c-form(action='' method='')
          .c-form__group.c-form__group--select
            .c-form__group-col.c-form__group-col-0
              .c-form__field.c-form__field--select
                .c-form__select-wrap
                  select(name="" placeholder="Pokażemy Ci co możemy z nim zrobić!" select-js)
                    each val, idx in [1,2,3,4,5,6,1,2,3,4,5,6]
                      option(value!= val)!= "Marka " + val

            .c-form__group-col.c-form__group-col-1
              .c-form__field.c-form__field--select
                .c-form__select-wrap
                  select(name="" placeholder="Pokażemy Ci co możemy z nim zrobić!" select-js)
                    each val, idx in [1,2,3,4,5,6,1,2,3,4,5,6]
                      option(value!= val)!= "Model " + val

            .c-form__group-col.c-form__group-col-2
              .c-form__field.c-form__field--select
                .c-form__select-wrap
                  select(name="" placeholder="Pokażemy Ci co możemy z nim zrobić!" select-js)
                    each val, idx in [1,2,3,4,5,6,1,2,3,4,5,6]
                      option(value!= val)!= "Silnik " + val

      .main__wrapper-right
        img(src="./img/img-car-main-1.png" srcset="" alt="" title="")

// MAIN :: END